h1 {
    color:rgb(211, 41, 126);
    background-color: black;
    border: 14px;
    border-radius: 10px;
}
body {
    color:rgb(70, 70, 192);
    border: 5px margine red;

}
p{
    color: rgb(255, 255, 255);
    border: 10px;
    background-color: black;
    border-radius: 10px;
}
