h1 {
    color:rgb(211, 41, 126);
    background-color: black;
    border: 14px;
    border-radius: 10px;
}
body {
    color:rgb(70, 70, 192);
    border: 5px margine red;

}
p{
    color: rgb(255, 255, 255);
    border: 1%;
    background-color: black;
    border-radius: 10px;
}
th, td{
    border: 3px solid rgb(117, 100, 100);
    padding: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.IT{
    width: 400px;
    height: 300px;
}
.BrendUA{
    width: 400px;
    height: 300px;
}
.LoveUA{
    width: 100%;
    height: 1%;
}