h1 {
    color:rgb(8, 121, 83);
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 4px dotted none;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(0, 0, 0);
    color:rgb(70, 70, 192);
    border: 5px margine red;

}

header{
    
}